.info-area {
	flex: 0 1 60px;
	background-color: #da5050;

	display: flex;
	flex-direction: column;

	a {
		color: inherit;
	}
}

.logo-area {
	flex: 0 0 60px;

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
	position: relative;

	img {
		width: 75%;
	}
}

.button {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(60px * 0.6);
	cursor: pointer;

	&:hover {
		background: #ca2525;
	}
}
