@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/github-fork-ribbon-css/gh-fork-ribbon.css";

html, body, .app {
	width: 100%;
	height: 100%;
	color: #333;
}

body {
	background-color: white;
}

svg:not(:root) {
	overflow: visible;
}
