doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title DragonASIC-web
		script(src="index.js", defer=true)
		a.github-fork-ribbon(href="https://github.com/hakatashi/DragonASIC-web", data-ribbon="Fork me on GitHub", title="Fork me on GitHub", target="_blank") Fork me on GitHub
		.app
